/*
DESENVOLVEDOR: VBDOL.DEV
GITHUB: https://github.com/VBDOL
LINKEDIN: https://www.linkedin.com/in/victor-b-o-leme-dev
Alura: https://cursos.alura.com.br/user/vbdol-dev
DIO: https://www.dio.me/users/vbdol_dev

DATA: 30/10/2024
*/
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: none;
}